{% extends "base.html"%}
{% block content %}

  <!-- Portfolio -->
<section class="content-section" id="portfolio">
    <div class="container">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">{{ page_title }}</h3>
            <h2 class="mb-5">Recent Projects</h2>
        </div>
        <div class="row no-gutters">

            {% for items in projects %}

                <div class="col-lg-6">
                    <a class="portfolio-item" href="#!">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">{{ loop.index }}. {{ items.name }}</div>
                                <p class="mb-0">{{ items.description }}</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ items.image }}" alt="{{ items.name }}">
                    </a>
                </div>
            
            {% endfor %}

        </div>
    </div>
    <div class="" >
        <img class="img-fluid" id="img-adipoli" src="..//static/img/bg-masthead.jpg" id="img-adipoli">
    </div>
</section>

  <!-- Call to Action -->
  <section class="content-section bg-primary text-white">
    <div class="container text-center">
      <h2 class="mb-4">The buttons below are impossible to resist...</h2>
      <a href="#!" class="btn btn-xl btn-light mr-4">Click Me!</a>
      <a href="#!" class="btn btn-xl btn-dark">Look at Me!</a>
    </div>
  </section>
{% endblock %}